.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.has-1 {
  background: #90ee90 !important;
  border-radius: 50%;
}

.has-session {
  background: #90ee90 !important;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}


.popup {
  margin-top: 20px;
  padding: 10px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.has-session::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #10b981; /* Vert */
  border-radius: 50%;
}


